body {
    background-color: rgba(175, 128, 219, 0.945);
}

h1 {
    font-size: 150px;
    font-weight: bold;
    text-align: center;
}

p {
    color: black;
    font-size: 70px;
    text-align: center;
}